p{
    font-size: 50px;
}

body{
    background: lavender;
}

a.enla{
    color: darkgray;
    font-style: italic;
    background-color: black;
    text-decoration:none;
}

a:hover {
    color: yellow;
    border-bottom:2px dotted greenyellow;
}

h1{
    background: black;
    color: gray;
}

p.notificacion{
    font-size: 1rem;
}

#contenedor {
    width: 500px;
    margin: 0 auto;
}

.fde{
    font-size: 30px;
}
input,select{
    width: 220px;
    height: 30px;
    font-size:20px ;
}
p.perfil{
    font-size: 20px;
    color: darkgray;
    font-style: italic;
    background-color: black;
    text-decoration:none;
}

